*{
    margin: 0;
    padding: 0;
}

/*dropdown NIET AANPASSEN*/

body {
    background-image: url("covers/background2.jpg");
    background-size: cover;
    padding: 90px 0;
}

nav {
    width: 100%;
    height: 80px;
    background-color: darkred;
    border-bottom: solid 2px black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

nav p {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    color: #222;
    font-size: 32px;
    line-height: 25px;
    float: left;
    padding: 30px 20px;
}

nav img {
    height: 100%;
    float: left;
    margin-top: 0;
}

nav ul {
    padding: 10px 0;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 14px;
    display: block;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: darkred;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a {
     padding: 8px 14px;
}

nav ul li ul li {
    width: 100%;
}

nav ul li ul li a:hover {
    background-color: black;
}

form {
    margin-top: -5px;
}
/* einde van de dropdown*/

/*flex box*/

.ons-container {
    display: flex;
    flex-direction: row;
    height: 70%;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
}

.achtergrond-container {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    background-image: url("covers/background.jpg");
    background-size: cover;
    margin: -10px auto;
}

.uitleg-container {
    display: flex;
    height: 40%;
    width: 70%;
    flex-direction: column;
    background: black;
    opacity: 0.85;
    border-radius: 5px;
    margin: 50px auto;
}

.beschrijving-container {
    display: flex;
    flex-direction: row;
    height: 70%;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    background: black;
    opacity: 0.85;
    border-radius: 5px;
}

.film-container {
    display: flex;
    flex-direction: row;
    height: 50%;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
    background: black;
    opacity: 0.85;
    border-radius: 10px;
}

.login-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    align-items: center;
    border: solid 1px white;
    justify-content: flex-start;
    margin: 10% auto;
    border-radius: 5px;
    background-color: darkred;
}

.registratie-container {
    display: flex;
    height: 700px;
    width: 600px;
    border: solid 1px white;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin: 7.5% auto;
    border-radius: 5px;
    background: darkred;
    opacity: .85;
}

.registratie-container-links {
    display: flex;
    height: 100%;
    width: 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

.registratie-container-rechts {
    display: flex;
    height: 100%;
    width: 400px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.registratie-container-links div {
    width: 175px;
    height: 175px;
    border: solid 2px gray;
    background-color: black;
    border-radius: 5px;
    margin: 0 auto;
    opacity: 0.85;
}

.registratie-container-links div:hover{
    width: 175px;
    height: 175px;
    border: solid 2px red;
    background-color: black;
}

.login-container input {
    margin: 10px;
    height: 10%;
    width: 80%;
    border-radius: 5px;
}

.registratie-container-rechts input, select {
    margin: 0 auto;
    width: 80%;
    height: 6%;
    border-radius: 5px;
    font-size: 1.2em;
}

.login-container button {
    background-color: black;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    margin: 10px 0;
    border: solid 2px gray;
    height: 13%;
    width: 30%;
    color: darkred;
    font-size: 1.5em;
}

.registratie-container button {
    background-color: black;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    margin: 10px auto;
    border: solid 2px gray;
    color: darkred;
    height: 10%;
    width: 40%;
    font-size: 1.5em;
}

.login-container button:hover {
    outline: none;
    cursor: pointer;
}

.registratie-container button:hover {
    outline: none;
    cursor: pointer;
}

.login-container button:focus {
    outline: none;
    cursor: hand;
    border: solid 2px darkgray;
}

.film-container img {
    width: 182px;
    height: 268px;
    margin: 10px 10px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px white;
}

.ons-container img {
    width: 273px;
    height: 402px;
    margin: 10px 2%;
    text-align: center;
    border-radius: 5px;
    border: solid 2px white;
}

.film-container img:hover {
    width: 182px;
    height: 268px;
    margin: 10px 10px;
    text-align: center;
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

.uitleg-container .beschrijving-container img {
    width: 273px;
    height: 402px;
    margin: 10px 2%;
    border-radius: 5px;
    border: solid 2px white;
}

.uitleg-container .beschrijving-container p {
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 20px 20px;
    width: 48%;
    font-size: 1.2em;
}

/* classes */

.rechts {
    float: right;
}

.rechts:first-child {
    float: right;
    margin-right: 55px;
}


.links {
    float: left;
}

.footer {
    height: 100px;
    background-color: #222222;
    text-align: center;
    color: gray;
}

.tekst {
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 20px 20px;
    color: white;
    font-size: 1.2em;
}

.achtergrond {
    background-image: url("covers/background2.jpg");
    background-size: cover;
}

/* ander opmaak */

.tekst ul {
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 20px 20px;
    color: white;
    font-size: 1.2em;
    margin: 0;
}

p {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    padding: 20px 20px;
    color: white;
    font-size: 1.5em;
}

h3 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    padding: 20px 20px;
    color: white;
    font-size: 5em;
    text-align: center;
}

h4 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    padding: 20px 20px;
    color: white;
    font-size: 3em;
    text-align: center;
    background: darkred;
}

div img {
    width: 80%;
    margin: 0 10%;
}

img {
    margin: 10px 0;
}

div p a {
    font-family: "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    font-size: 1em;
    font-weight: normal;
    color: gray;

}

form table tr td {
    color: white;
    font-family: "Helvetica", "Arial", sans-serif;
}

body main div div div h2 {
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    color: darkred;
    margin-bottom: 10px;
    margin-top: 10px;
}

body main div div div ul li {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    color: #EAE8E8;
    margin-left: 10%;
    text-decoration: none;
    list-style-type: none;
}

nav input {
    height: 20px;
    width: 130px;
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 10px;
    outline: red;
    border: solid 2px black;
    color: white;
}

/* text vakken */
